NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_REFRESH_TOKEN=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
# 0 para pular verificacao de certificado e 1 para normal
NODE_TLS_REJECT_UNAUTHORIZED=0